@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap");

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Poppins, sans-serif;
}

p {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 45px;
  margin-bottom: 120px;
}

.logo {
  box-sizing: border-box;
  border-radius: 19px;
  color: hsl(321, 100%, 78%);
  border: solid 2px;
  border-color: hsl(321, 100%, 78%);
  background-color: white;
  width: 10%;
  box-shadow: 1px 1px 4px hsl(321, 100%, 78%);
  cursor: pointer;
}

.logo:hover {
  color: white;
  background-color: black;
  border-color: black;
  box-shadow: 1px 1px 4px black;
}

.description h1 {
  text-align: center;
  font-size: 39px;
  width: 100%;
}

.description p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 100;
  font-size: 17px;
  color: hsl(192, 100%, 9%);
}

.startbutton {
  display: flex;
  justify-content: center;
}

.started {
  box-sizing: border-box;
  border-radius: 19px;
  color: white;
  border: solid 0px;
  background-color: hsl(321, 100%, 78%);
  width: 15%;
  box-shadow: 1px 1px 4px hsl(321, 100%, 78%);
  cursor: pointer;
  padding: 12px;
  font-weight: 700;
  margin-top: 19px;
  cursor: pointer;
}

.started:hover {
  color: white;
  background-color: black;
  border-color: black;
  box-shadow: 1px 1px 4px black;
}

.screens {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 70px;
}

.screens img {
  width: 700px;
  height: 500px;
}

.statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 90px;
}

.statistic p {
  color: grey;
  font-size: 14px;
  text-align: center;
  margin: 5px;
}

.statistic h1 {
  text-align: left;
  font-size: 40px;
  margin: 2px;
}

.statistic img {
  width: 25px;
  height: 25px;
}

.sections {
  width: 100%;
}

.grow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(207, 100%, 98%);
}

.grow img {
  width: 500px;
  height: 400px;
}

.grow h1 {
  font-size: 35px;
}

.about {
  display: flex;
  flex-direction: column;
}

.flowing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flowing img {
  width: 500px;
  height: 400px;
}

.flowing h1 {
  font-size: 35px;
}

.users img {
  width: 500px;
  height: 400px;
}

.users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(207, 100%, 98%);
}

.ready h1 {
  text-align: center;
  margin-bottom: 0;
}

.ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.footer {
  width: 100%;
}

.allfooter {
  display: flex;
  flex-direction: column;
}

.bottom h1 {
  color: white;
  font-size: 35px;
}

.bottom p {
  color: white;
}

.huddle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 57%;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 35px;
}

.social img {
  width: 27px;
  height: 27px;
}

.email {
  width: 290px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.mailbox p {
  color: red;
  font-size: 12px;
}

.mailbox {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 8px;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(192, 100%, 9%);
}

.subscribe {
  margin: 10px;
  margin-left: 25px;
  box-sizing: border-box;
}

.btns {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: hsl(321, 100%, 78%);
  color: white;
  border: none;
  box-shadow: 1px 1px 4px hsl(321, 100%, 78%);
  font-weight: 700;
  height: 32px;
  width: 120px;
  margin-bottom: 100px;
}

.btns:hover {
  background-color: black;
  box-shadow: 1px 1px 4px black;
}

@media (max-width: 650px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header img {
    width: 140px;
  }

  .logo {
    width: 30%;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .started {
    width: 25%;
  }

  .screens img {
    width: 400px;
    height: 300px;
    padding: 20px;
  }

  .statistic {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  html {
    width: fit-content;
  }

  .grow {
    flex-direction: column;
    justify-content: center;
  }

  .flowing {
    flex-direction: column;
    justify-content: center;
  }

  .users {
    flex-direction: column;
    justify-content: center;
  }

  .bottom {
    flex-direction: column;
    justify-content: center;
  }

  .allfooter {
    width: fit-content;
    height: fit-content;
  }

  .footer {
    margin-bottom: -1px;
  }
}
